/**
 * Splash display
 * ----------------------------------
*/

section#splash {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
    position: relative;
}

section#splash > h2 {
    display: none;
}

section#splash div.ad-container {
	background-position: top center;
	background-repeat: no-repeat;
    border-top: 1px solid #DDDDDD;
	height: 500px;
	max-height: 500px;
	min-height: 500px;
}

section#splash div.ad-container div.ad-contents {
    -moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in;
    
    background-color: rgba(34, 34, 34, 1);
    height: 100%;
    padding: 0px 10% 0px 10%;
	text-align: center;
    width: 80%;
}

section#splash div.ad-container div.ad-contents > h2 {
	color: #FFFFFF;
	font-size: 60px;
	font-weight: lighter;
	margin: 0px;
	padding-top: 190px;
	text-transform: uppercase;
}

section#splash div.ad-container div.ad-contents > h2::before {
	border-top: 4px solid #FFFFFF;
	content: ' ';
	display: block;
	margin: 7px auto 20px auto;
	padding: 0px;
	width: 300px;
}

section#splash div.ad-container div.ad-contents.show-background {
    -moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in;
    
    background-color: rgba(34, 34, 34, 0.5);
}

section#splash div.ad-container div.ad-contents.transition {
    -moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in;
    
    background-color: rgba(255, 255, 255, 1);
}

section#splash div.info {
	background: #F5F5F5;
	height: 88px;
	text-align: center;
}

section#splash div.info p {
	color: #AAAAAA;
	font-size: 14px;
	font-weight: lighter;
	margin: 0px;
	padding-top: 19px;
	vertical-align: middle;
}

section#splash div.info p strong {
	background: url(images/icons.png) no-repeat top left;
	color: #333333;
	display: inline-block;
	padding: 16px 0px 16px 35px;
	text-transform: uppercase;
}

@media screen and (max-width: 650px) {    
    section#splash div.ad-container {
        display: none;
    }
	
	section#splash div.info p em {
		display: none;
	}
}

/**
 * Content area styles
 * ----------------------------------
*/

section.content, article.content {
	background: #FFFFFF;
	padding: 65px 10% 65px 10%;
}

section.content.even, article.content.even {
	background: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

section.content h2, article.content h2 {
	color: #303030;	
	font-size: 24px;
	font-weight: lighter;
    padding-bottom: 10px;
	text-transform: uppercase;
}

section.content h2::after, article.content h2::after {
	border-top: 2px solid #303030;
	content: ' ';
	display: block;
	margin: 7px auto 0px 0px;
	padding: 0px;
	width: 300px;
}

section.content > p, article.content > p {
	color: #777777;
	font-size: 15px;
	margin: 10px 0px 10px 0px;
	max-width: 650px;
}

section.content h3, article.content h3 {
	padding-top: 40px;
}

section.content.center h2, article.content.center h2 {
	text-align: center;
}

section.content.center h2::after, article.content.center h2::after {
	margin: 7px auto 0px auto;
	text-align: center;
}

section.content.center > p, article.content.center > p {
	margin: 15px auto 15px auto;
	max-width: 850px;
	text-align: center;
}

@media screen and (max-width: 650px) {
    section.content, article.content {
        padding: 15px 10% 15px 10%;
    }
    
    section.content h2::after, article.content h2::after {
        content: none;
    }
}

/**
 * Sermon items
 * ----------------------------------
*/

section.content ul.sermons {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

section.content ul.sermons li {
    -moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    
	background-color: #FFFFFF;
    background-position: top center;
    background-repeat: no-repeat;
	border-bottom: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	color: #7B8084;
    display: inline-block;
    height: 200px;
    margin: 15px 15px 30px 15px;
    position: relative;
	text-align: left;
    vertical-align: top;
    width: 100%;
}

section.content ul.sermons li:hover {
	-moz-box-shadow: 0px 1px 8px #999;
	-ms-box-shadow: 0px 1px 8px #999;
	-o-box-shadow: 0px 1px 8px #999;
    -webkit-box-shadow: 0px 1px 8px #999;
	box-shadow: 0px 1px 8px #999;
}

section.content ul.sermons li a h3 {
	border-bottom: 1px solid #E4E4E4;
	color: #7B8084;
	font-size: 18px;
	font-weight: lighter;
	left: 0px;
	margin: 0px;
	padding: 15px 10px 10px 11px;
	position: absolute;
	right: 0px;
	top: 21px;
}

section.content ul.sermons li a p.preacher {
	border-top-style: solid;
	border-top-width: 2px;
	color: #000000;
    font-size: 13px;
	font-weight: bold;
	left: 0px;
	margin: 0px;
    padding: 10px 10px 0px 10px;
	position: absolute;
	right: 0px;
	text-align: left;
	top: 0px;
}

section.content ul.sermons li a time {
	background: url(images/icons.png) no-repeat;
	background-position: 3px -166px;
	bottom: 50px;
	color: #7B8084;
	display: block;
    font-size: 11px;
	left: 0px;
	padding: 10px 10px 10px 30px;
	position: absolute;
	right: 0px;
}

section.content ul.sermons li a p.length {
	background: url(images/icons.png) no-repeat;
	background-position: 3px -134px;
	bottom: 29px;
	color: #7B8084;
	font-size: 11px;
	left: 0px;
	margin: 0px;
	padding: 10px 10px 10px 30px;
	position: absolute;
	right: 0px;
	text-align: left;
}

section.content ul.sermons li a p.size {
	bottom: 29px;
	color: #7B8084;
	font-size: 11px;
	left: 0px;
	margin: 0px;
	padding: 10px;
	position: absolute;
	right: 0px;
	text-align: right;
}

section.content ul.sermons li a.link {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	bottom: 0px;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px 0px 5px 0px;
	position: absolute;
	text-align: center;
}

section.content ul.sermons li a.link.download {
	left: 0px;
	width: 48%;
}

section.content ul.sermons li a.link.download span {
	background: url(images/icons.png) no-repeat;
	background-position: -5px -64px;
	padding-left: 20px;
}

section.content ul.sermons li a.link.stream {	
	right: 0px;
	width: 48%;
}

section.content ul.sermons li a.link.stream span {
	background: url(images/icons.png) no-repeat;
	background-position: 0px -97px;
	padding-left: 33px;
}

section.content ul.sermons li a.link.download:hover, section.content ul.sermons li a.link.stream:hover {	
	background-color: #555555 !important;
	color: #FFFFFF !important;
}

@media screen and (max-width: 650px) {
	section.content ul.sermons {
		border: 1px solid #E4E4E4;
	}
	
	section.content ul.sermons li {
		border-left: none;
		border-right: none;
		height: 120px;
		margin: 0px;
	}
	
	section.content ul.sermons li:last-child {
		border: none;
	}
	
	section.content ul.sermons li:hover {
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	section.content ul.sermons li a h3 {
		border-bottom: none;
		top: 0px;
	}
	
	section.content ul.sermons li p.preacher {
		border-top: none !important;
		top: 32px !important;
	}
	
	section.content ul.sermons li a time {
		bottom: 0px;
	}
	
	section.content ul.sermons li a p.length {
		bottom: 0px;
		left: auto;
		right: 0px;
	}
	
	section.content ul.sermons li p.size {
		display: none;
	}
	
	section.content ul.sermons li a.download.link, section.content ul.sermons li a.link.stream {
		display: none;
	}
	
	/*section.content ul.sermons li a.link.stream {
		background-image: none;	
		left: 0px;
		padding-left: 0px;
		right: 0px;
		width: 100%;
	}
	
	section.content ul.sermons li a.link.stream span {
		background: none;
		padding-left: 0px;
	}*/
}

/**
 * Sermon items color varients
 * ----------------------------------
*/

section.content ul.sermons.red li p.preacher {
	border-top-color: #FF1769;
}

section.content ul.sermons.red li a.link.download {
	background-color: #FF1769;
}

section.content ul.sermons.red li a.link.stream {
	background-color: #9B175A;
}

/* ---------------------------------- */

section.content ul.sermons.orange li p.preacher {
	border-top-color: #FFA865;
}

section.content ul.sermons.orange li a.link.download {
	background-color: #FFA865;
}

section.content ul.sermons.orange li a.link.stream {
	background-color: #C38244;
}

/* ---------------------------------- */

section.content ul.sermons.yellow li p.preacher {
	border-top-color: #FFD800;
}

section.content ul.sermons.yellow li a.link.download {
	background-color: #FFD800;
	color: #666666;
}

section.content ul.sermons.yellow li a.link.stream {
	background-color: #C3CC44;
	color: #666666;
}

/* ---------------------------------- */

section.content ul.sermons.lime li p.preacher {
	border-top-color: #BAD80A;
}

section.content ul.sermons.lime li a.link.download {
	background-color: #BAD80A;
}

section.content ul.sermons.lime li a.link.stream {
	background-color: #537001;
}

/* ---------------------------------- */

section.content ul.sermons.green li p.preacher {
	border-top-color: #71B640;
}

section.content ul.sermons.green li a.link.download {
	background-color: #71B640;
}

section.content ul.sermons.green li a.link.stream {
	background-color: #2CA243;
}

/* ---------------------------------- */

section.content ul.sermons.aqua li p.preacher {
	border-top-color: #00D8CC;
}

section.content ul.sermons.aqua li a.link.download {
	background-color: #00D8CC;
	color: #333333;
}

section.content ul.sermons.aqua li a.link.stream {
	background-color: #007172;
}

/* ---------------------------------- */

section.content ul.sermons.light-blue li p.preacher {
	border-top-color: #49AFCD;
}

section.content ul.sermons.light-blue li a.link.download {
	background-color: #49AFCD;
}

section.content ul.sermons.light-blue li a.link.stream {
	background-color: #2F96CF;
}

/* ---------------------------------- */

section.content ul.sermons.blue li p.preacher {
	border-top-color: #00CCFF;
}

section.content ul.sermons.blue li a.link.download {
	background-color: #00CCFF;
}

section.content ul.sermons.blue li a.link.stream {
	background-color: #24459A;
}

/* ---------------------------------- */

section.content ul.sermons.purple li p.preacher {
	border-top-color: #9B4F96;
}

section.content ul.sermons.purple li a.link.download {
	background-color: #9B4F96;
}

section.content ul.sermons.purple li a.link.stream {
	background-color: #68217A;
}

/* ---------------------------------- */

section.content ul.sermons.pink li p.preacher {
	border-top-color: #F473D0;
}

section.content ul.sermons.pink li a.link.download {
	background-color: #F473D0;
}

section.content ul.sermons.pink li a.link.stream {
	background-color: #E34096;
}

/* ---------------------------------- */

section.content ul.sermons.black li p.preacher {
	border-top-color: #454545;
}

section.content ul.sermons.black li a.link.download {
	background-color: #454545;
}

section.content ul.sermons.black li a.link.stream {
	background-color: #1A1A1A;
}

/* ---------------------------------- */

section.content ul.sermons.white li p.preacher {
	border-top-color: #ECECEF;
}

section.content ul.sermons.white li a.link.download {
	background-color: #ECECEF;
	color: #666666;
}

section.content ul.sermons.white li a.link.stream {
	background-color: #302E2F;
	color: #666666;
}